{% extends "index.html" %}
{% block content %}

<div class="row body">
  <div class="col s8 offset-s2">
    <h5>About:</h5>
    <p>
      A passionate individual who always thrives to work on end to end products which develop sustainable and scalable social and technical systems to create impact. I am a freshman student at SRMIST, and an ameteur programmer and I will be graduating from my university in 2028 with a bachelors in Computer Science Engineering. I am familar in backend programming using Python, C, C++, Rust and low level programming using Assembly.
    </p>
    <p>
      In my free time I like playing basketball, listening to music and reading books. I am constantly looking for an opportunity to work in a challenging position combining my skills in Software Engineering, which provides professional development, interesting experiences and personal growth.
    <p>
      I am passionate about developing complex applications that try solve real-world problems.
    </p>
  </div>

</div>


{% endblock %}
